.services-main-container{
    padding: 20px;
    margin-top: 40px;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.services-content-container {
    text-align: center;
    padding: 40px;
}
.service-title {
    font-size: 1.8rem;
    color: white;
}
.service-img{
    width: 40px;
}
.service-content {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 35px;
}
.service-card{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border-top: 6px solid #1e293b;
    color: rgb(12, 3, 3);
    background-color: white;
    text-align: left;
}
.service-subtitle {
    line-height: 1.4;
    font-size: 19px;
}
.service-description {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .service-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .service-card {
        width: 400px;
    }
}
@media (max-width: 480px) {
    .service-card{
        max-width: 100%;
    }
}