.comments-main-section {
    margin-top: 40px;
}
.comment-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    gap: 20px;
    margin-top: 20px;
}
textarea {
    border-radius: 8px;
    padding: 40px 20px;
    color: white;
    font-size: 1rem;
    min-height: 120px;
    background-color: #182231;
}
textarea:focus {
    outline: none;
}
.comment-head {
    font-size: 20px;
}
.post-btn {
    width: 70%;
    padding: 10px 10px;
    margin-top: 5px;
    background: #fbbf24;
    border: none;
    border-radius: 5px;
    color: #0f172a;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.post-btn:hover {
    background: #fbbf24;
    transform: translateY(-4px);
}