.hero {
 min-height: 90vh;
 width: 100%;
 display: flex;
 justify-content: center;
 text-align: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) ;
  z-index: 1;
}
.hero-content {
 padding-top: 200px;
 position: relative;
 z-index: 2;
}
.hero-title {
  font-size: 3rem;
  color: white;
}
.hero-subtitle {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}
.hero-btn {
  padding: 10px 30px;
  margin-top: 30px;
  background: #fbbf24;
  border: none;
  border-radius: 5px;
  color: #0f172a;
  font-size: 17px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero-btn:hover {
  background: #fbbf24;
  transform: translateY(-4px);
}
@media (max-width: 768px) {
  
    .hero-title {
        font-size: 2.2rem;
    }
    .hero-subtitle {
        font-size: 1.2rem;
    }
}