.hero {
 height: 90vh;
 background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
 display: flex;
 justify-content: center;
 text-align: center;
}
.hero-content {
 padding-top: 200px;
}
.hero-title {
  font-size: 3rem;
  color: white;
}
.hero-subtitle {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}
.hero-btn {
  padding: 10px 30px;
  margin-top: 30px;
  background: #fbbf24;
  border: none;
  border-radius: 5px;
  color: #0f172a;
  font-size: 17px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero-btn:hover {
  background: #fbbf24;
  transform: translateY(-4px);
}
@media (max-width: 768px) {
  
    .hero-title {
        font-size: 2.2rem;
    }
    .hero-subtitle {
        font-size: 1.2rem;
    }
}