.about-hero-main {
    text-align: center;
    color: white;
    padding: 80px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.abt-head-paragraph {
    max-width: 800px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
}
.abt-head {
    font-size: 2rem;
}

@media (max-width: 768px) {
  
    .abt-head{
        font-size: 2.2rem;
    }
    .abt-head-paragraph {
        font-size: 1.2rem;
    }
}
@media (max-width: 480px) {
    .abt-head-paragraph {
       max-width: 350px;
    }
    .abt-head {
        font-size: 28px;
    }
}