.services-info-container {
    text-align: center;
    color: white;
    padding: 80px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0a0f1f, #0f172a, #182231);
}

.sr-head {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.si-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 900px;
}

.si-card {
    background-color: #03162e;
    color: white;
    display: flex;
    gap: 20px;
    max-width: 100%;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}
.si-card-details {
    flex: 1;
    text-align: left;
}
.si-title {
    font-size: 1.3rem;
}

.si-paragraph {
    margin-top: 12px;
    line-height: 1.4;
}

.sr-img {
    width: 140px;
}
.si-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 22px;
}

.tag {
    padding: 6px 12px;
    background-color: #0f2847;
    border-radius: 25px;
    border: 1px solid #1a3b63;
    font-size: 0.8rem;
    color: #cfe6ff;
}

@media (max-width:768px) {
    .sr-img {
        display: none;
    }
}