.VaM-main-container {
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.VaM-content {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 25px;
}
.VaM-head {
    font-size: 1.8rem;
}
.VaM-card {
  width: 450px;
  padding: 35px;
  border-radius: 10px;
  border-left: 8px solid #1e293b;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background-color: #03162e;
  text-align: left;
}
.VaM-title {
  font-size: 19px;
  padding-left: 10px;
}
.VaM-paragraph{
    margin-top: 10px;
}

@media (max-width: 480px) {
  .VaM-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .VaM-head {
    font-size: 23px;
  }
  .VaM-card {
    max-width: 300px;
    padding: 25px;
  }
}