
.what-we-do-content{
    padding: 40px;
}
.wwd-head {
    font-size: 1.8rem;
}
.wwd-content-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 35px;
}
.wwd-card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border-top: 6px solid #1e293b;
    color: rgb(12, 3, 3);
    background-color: #f5f7fa;
    text-align: left;
}
.wwd-title{
    line-height: 1.4;
    font-size: 19px;
}
.wwd-paragraph {
     margin-top: 10px;
}
@media (max-width: 768px) {
    .wwd-content-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .wwd-card {
        width: 400px;
    }
}