.about-main-container{
  margin-top: 45px;
}
.about-content-container {
   display: flex;
   justify-content: center;
}
.goldsmith-abt-img {
    width: 450px;
    margin-top: 10px;
}
.about-content {
    margin-top: 35px;
}
.about-title {
    font-size: 1.8rem;
}
.about-subtitle {
    max-width: 500px;
    line-height: 1.4;
    font-size: 20px;
    margin-top: 10px;
}
.learn-btn {
    padding: 10px 30px;
    margin-top: 30px;
    background: #fbbf24;
    border: none;
    border-radius: 5px;
    color: #0f172a;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.learn-btn:hover {
    background: #fbbf24;
    transform: translateY(-4px);
}

@media (max-width: 768px){
    .about-content-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .goldsmith-abt-img {
    width: 370px;
    margin-top: 35px;
}
}