.about-main-container{
  margin-top: 45px;
}
.about-content-container {
   display: flex;
   justify-content: center;
}
.goldsmith-abt-img {
    width: 450px;
    margin-top: 10px;
}
.about-content {
    margin-top: 35px;
}
.about-title {
    font-size: 1.8rem;
}
.about-subtitle {
    max-width: 500px;
    line-height: 1.4;
    font-size: 20px;
    margin-top: 10px;
}

@media (max-width: 768px){
    .about-content-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .goldsmith-abt-img {
    width: 370px;
    margin-top: 35px;
}
}