.about-main-container{
  margin-top: 45px;
}
.about-content-container {
   display: flex;
   justify-content: center;
}
.goldsmith-abt-img {
    width: 450px;
    margin-top: 10px;
}
.about-content {
    margin-top: 35px;
}
.about-title {
    font-size: 1.8rem;
    color: var(--heading-on-light);
}
.about-subtitle {
    max-width: 500px;
    line-height: 1.4;
    font-size: 18px;
    margin-top: 10px;
    color: var(--text-on-light);
}
.learn-btn {
    padding: 10px 30px;
    margin-top: 30px;
    background: #fbbf24;
    border: none;
    border-radius: 5px;
    color: #0f172a;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.learn-btn:hover {
    background: #fbbf24;
    transform: translateY(-4px);
}

@media (max-width: 768px){
    .about-content-container {
      display: flex;
  }
  .about-subtitle {
    max-width: 350px;
  }
  .goldsmith-abt-img {
    width: 350px;
    margin-top: 35px;
}
}
@media (max-width: 480px){
    .about-subtitle {
        max-width: 330px;
    }
    .about-title {
        font-size: 23px;
    }
    .goldsmith-abt-img {
        max-width: 100%;
    }
}
