.contact-main-container {
     padding: 20px;
    margin-top: 40px;
    color: white;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.contact-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}
.contact-head{
    font-size: 1.5rem;
}
.info-box {
    margin-top: 10px;
}
.contact-form {
    margin-top: 20px;
}
.contact-form input{
    padding: 10px 70px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #d1d8d6;
    text-align: left;
}
input::placeholder{
    text-align: left;
}
.contact-form input:focus{
    outline: none;
    background-color: hsla(163, 8%, 83%, 0.938);
}
textarea{
    padding: 40px 70px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #d1d8d6;
}
.send-btn{
    padding: 10px 25px;
    margin-top: 10px;
    background: #fbbf24;
    border: none;
    border-radius: 5px;
    color: #0f172a;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.send-btn:hover{
    background: #fbbf24;
    transform: translateY(-4px);
}
@media (max-width: 768px){
    .contact-content-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
        flex-wrap: wrap;
  }
  textarea{
    margin-top: 20px;
  }
}