.contact-main-container {
     padding: 20px;
    margin-top: 40px;
    color: white;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.contact-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}
.contact-head{
    font-size: 1.5rem;
}
.info-box {
    margin-top: 10px;
}
.footer-link {color: white; text-decoration: none;}
.footer-link:hover {color: #38bdf8;}
.send-btn {
  padding: 12px 25px;
  margin-top: 5px;
  background: #fbbf24;
  border: none;
  border-radius: 8px;
  color: #0f172a;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}

.send-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 15px rgba(251, 191, 36, 0.4);
}
 @media (max-width: 768px) {
    .contact-content-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;  
        gap: 25px;                
    }
    .quick-links {
       text-align: center;
    }
    .where-to-find-us {
       text-align: center;
    }
    .working-hours {
      text-align: center;
    }
}
@media (max-width: 480px) {
  .contact-head{
    font-size: 23px;
  }
}