.contact-main-container {
     padding: 20px;
    margin-top: 40px;
    color: white;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.contact-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}
.contact-head{
    font-size: 1.5rem;
}
.info-box {
    margin-top: 10px;
}.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 50px;
  border: 1px solid #1e293b;            
  border-radius: 8px;
  background-color: #1e293b;            
  color: #e2e8f0;                       
  font-size: 16px;
}


.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;                        
}


.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #38bdf8;            
  background-color: #243447;            
  box-shadow: 0 0 8px rgba(56, 189, 248, 0.4);
}

.contact-form textarea {
  height: 130px;
  resize: none;
}

.send-btn {
  padding: 12px 25px;
  margin-top: 5px;
  background: #fbbf24;
  border: none;
  border-radius: 8px;
  color: #0f172a;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}

.send-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 15px rgba(251, 191, 36, 0.4);
}
 @media (max-width: 768px) {
    .contact-content-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;  

        gap: 25px;                
    }
  .contact-form {
    width: 100%;
    max-width: 400px;        
  }
}
