
:root {
  --nav-bg: #0f172a;       
  --nav-text: #f8fafc;     
  --nav-hover: #38bdf8;    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg);
  padding: 1rem 2rem;
  color: var(--nav-text);
  position: relative; 
  z-index: 10;
  padding: 28px;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}


.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--nav-text);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: var(--nav-hover);
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: var(--nav-text);
  transition: all 0.3s ease;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex; 
  }

  .navbar-links {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: var(--nav-bg);
    flex-direction: column; 
    align-items: center;
    gap: 0;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  
  .navbar-links.active {
    max-height: 300px;
    border-top: 1px solid #334155;
  }

  .navbar-links li {
    width: 100%;
    text-align: center;
  }

  .navbar-links li a {
    display: block;
    padding: 1.5rem;
    width: 100%;
  }

  .navbar-links li a:hover {
    background-color: #1e293b;
  }

  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}
@media (max-width: 480px) {
  .navbar{
    width: 100%;
  }
   .navbar-title {
    font-size: 1.3rem;
   }
}