
.cf-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px; 
}
.cf-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 20px;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231); 
    padding: 40px;
    border-radius: 12px;
}

.cf-details input,
.cf-details textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #cccccc49;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #182231;
    color: white;
}

.cf-details input:focus,
.cf-details textarea:focus {
    outline: none;   
}

.cf-details textarea {
    min-height: 150px;
}
.cf-head {
    font-size: 1.6rem;
    color: white;
}

.cta-btn {
    padding: 10px 30px;
    margin-top: 30px;
    background: #fbbf24;
    border: none;
    border-radius: 5px;
    color: #0f172a;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.cta-btn:hover {
    background: #fbbf24;
    transform: translateY(-4px);
}

@media (max-width: 600px) {
    .cf-main-container {
        padding: 50px 15px;
    }

    .cf-details {
        padding: 30px 20px;
    }
}
