.contact-hero {
    text-align: center;
    color: white;
    padding: 80px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,#0a0f1f, #0f172a, #182231);
}
.ch-subtitle {
    max-width: 800px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
}
.ch-title {
    font-size: 2rem;
}

@media (max-width: 768px) {
  
    .ch-title {
        font-size: 2.2rem;
    }
    .ch-subtitle {
        font-size: 1.2rem;
    }
}
@media (max-width: 480px) {
    .ch-title {
        font-size: 28px;
    }
    .ch-subtitle{
        max-width: 350px;
    }
}