.CtaSection-main-container {
    padding: 80px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.cta-title {
    font-size: 1.8rem;
    color: var(--heading-on-light);
}
.cta-subtitle {
    max-width: 800px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--text-on-light);
}
.cta-btn {
    padding: 10px 30px;
    margin-top: 30px;
    background: #fbbf24;
    border: none;
    border-radius: 5px;
    color: #0f172a;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.cta-btn:hover {
    background: #fbbf24;
    transform: translateY(-4px);
}

@media (max-width: 480px) {
    .cta-title {
        font-size: 23px;
    }
    .cta-subtitle {
        max-width: 95%;
        font-size: 18px;
    }
    .CtaSection-main-container{
        display: block;
        padding: 40px 20px;
        text-align: left;
    }
}