.services-hero-main-container {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 80px;
    display: flex;
    justify-content: center;
}
.sh-subtitle {
    max-width: 800px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--text-on-light);
}
.sh-title {
    font-size: 2rem;
    color: var(--heading-on-light);
}

@media (max-width: 768px) {
  
    .sh-title {
        font-size: 2.2rem;
    }
    .sh-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px){
     .sh-subtitle {
       max-width: 100%;
       text-align: left;
       line-height: 1.3rem;
       font-size: 18px;
    }
    .sh-title {
        font-size: 23px;
    }
    .services-hero-main-container {
        display: block;
        text-align: left;
        padding: 40px 20px;
    }
}