.services-hero-main-container {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 80px;
    display: flex;
    justify-content: center;
}
.sh-subtitle {
    max-width: 800px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
}
.sh-title {
    font-size: 2rem;
}

@media (max-width: 768px) {
  
    .sh-title {
        font-size: 2.2rem;
    }
    .sh-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px){
    .sh-subtitle {
        max-width: 350px;
    }
    .sh-title {
        font-size: 28px;
    }
}