.vm-main-container {
    margin-top: 45px;
}

.vm-image {
    width: 450px;
    margin-top: 25px;
}
.vm-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.vm-para {
    max-width: 500px;
    color: var(--text-on-light);
}
.num-btn{
    padding: 11px 12px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    background: #0d0838;
}
.vm-title{
    font-size: 1.8rem;
    margin-top: 10px;
    color: var(--heading-on-light);
}
.vm-para {
    max-width: 500px;
    line-height: 1.4;
    font-size: 18px;
    margin-top: 7px;
}
.vision-content2{
    margin-top: 30px;
}

@media (max-width: 768px){
    .vm-content-container {
        display: flex;
    }
    .vm-para {
        max-width: 350px;
    }
    .vm-image {
      width: 350px;
      margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .vm-content-container {
    flex-direction: column;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px;
  }
  .vm-image {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    display: block;
  }
  .vm-content {
    width: 100%;
  }
  .vision-content,
  .vision-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .num-btn {
    margin-bottom: 6px;
  }
  .vm-title {
    font-size: 23px;
    text-align: left;
  }

  .vm-para {
    font-size: 18px;
    max-width: 100%;
    text-align: left;
  }
}
